{
 :paths ["src" "resources"]
 :deps {
        org.clojure/clojure {:mvn/version "1.10.3"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.1.646"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}
        com.climate/claypoole {:mvn/version "1.1.4"}
        cc.qbits/alia-all {:mvn/version "5.0.0-alpha7"}
       }
 :aliases
 {
  :dev {:extra-paths ["src/data-gen-loader/dev" "dev"]
        :extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}}
        :main-opts ["-m" "data-gen-loader.dev.user"]
       }
  :build {:replace-deps {io.github.seancorfield/build-clj
                         {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
          :ns-default build}
 }
}
